@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Karla:wght@700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: visible;
  width: 100vw;
  height: 100vh;
}

.main-container {
  width: 100vw;
  height: 100vh;
  background-color: #f5f7fb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frontpage-container {
  display: grid;
  justify-content: center;
  background-color: #f5f7fb;
  align-items: center;
  margin: auto;
  padding: 275px;
  background-image: url(Images/blueBlob.png), url(Images/yellowBlob.png);
  background-repeat: no-repeat;
  background-position: 50% 80%, center 20%;
}

.frontpage-content-container {
  display: grid;
  gap: 15px;
}

.content-container {
  background-image: url(Images/blueBlob.png), url(Images/yellowBlob.png);
  background-repeat: no-repeat;
  background-position: right top, left bottom;
}

.start-quiz-container {
  margin-top: 30px;
}
.answer-button {
  font-family: 'Inter';
  text-align: center;
  font-size: 11px;
  border-radius: 30px;
  border: solid, #4d5b9e;
  padding: 8px;
  color: #293264;
  margin: 5px 3px;
  cursor: pointer;
  background-color: transparent;
  font-weight: bold;
}

#correct.answer-button {
  background-color: #94d7a2;
}

#incorrect.answer-button {
  background-color: #f8bcbc;
}

#not-selected.answer-button {
  background-color: whitesmoke;
}

.selected-answer-button {
  background-color: #d6dbf5;
}

.submit-button {
  border-radius: 30px;
  padding: 15px;
  margin-left: 20px;
  background-color: #4d5b9e;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .start-quiz-container {
    margin: 40px;
  }
}

@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .start-quiz-container {
    height: 700px;
  }

  .submit-button {
    border-color: black;
  }
}
